<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698575253082-knk7b38hddu7kpnu6unc58cmd47lntp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698575253082-knk7b38hddu7kpnu6unc58cmd47lntp0</string>
	<key>API_KEY</key>
	<string>AIzaSyDcTjdvtAITEegZoJXtouiUtNwvQVU_aNE</string>
	<key>GCM_SENDER_ID</key>
	<string>698575253082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digis.JangelEcommerce</string>
	<key>PROJECT_ID</key>
	<string>jangelecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>jangelecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698575253082:ios:0fe59e2737c8f641dfb263</string>
</dict>
</plist>